.menu-item:hover .menu-hover {
  color: #fff;
}

.badge-primary {
  background-color: #28a745;
}
.badge-danger {
  background-color: #dc3545;
}
.badge-warning {
  color: #111;
  background-color: #ffc107;
}
.badge-info {
  background-color: #17a2b8;
}
.menu-icon {
  color: #8b939b;
}

.menu-title-text {
  font-size: 14px;
  color: #8b939b;
}
