.toggle-container {
  background-color: #262832;
}
.toggle-btn {
  color: #878787;
  background-color: #262832;
}
.toggle-menu-icon {
  position: relative;
  &::before {
    position: absolute;
    content: "\f0a4";
    font-family: Fontawesome;
    top: -16px;
    right: -45px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 999;
    color: #fff;
    background-color: #dc3545;
  }
}

.menu-title {
  font-size: 14px;
  color: #41434d;
}
/* responsive */
@media (max-width: 1024px) {
  .toggle-btn {
    display: none;
  }
  .toggle-container {
    justify-content: center !important;
  }
}
