.login-wrapper {
  position: relative;
  padding: 100px 25px;
  height: auto;
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
  .sign-sosiale-media {
    span {
      position: relative;
    }
    span::before {
      position: absolute;
      content: " ";
      top: 12px;
      left: 0;
      width: 25%;
      height: 1px;
      background-color: #6c757d;
    }
    span::after {
      position: absolute;
      content: " ";
      top: 12px;
      right: 0;
      width: 25%;
      height: 1px;
      background-color: #6c757d;
    }
  }
}
.login-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.8;
}
