.expiration-field {
  input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  span {
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
