@import "./variable.scss";
.navbar_bg {
    height: 80px;
    &.fixed_top {
        position: fixed;
        top: 0;
        width: -webkit-fill-available;
        z-index: 999999;
    }
    &[theme-type="combo"] {
        position: fixed !important;
        top: 0;
        width: 100%;
        z-index: 99999;
    }
    &[theme-type="dual_nav"] {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &[data-bg-color="white"] {
        background-color: #fff;
    }
    &[data-bg-color="black"] {
        background-color: #292b35;
    }
    &[data-bg-color="red"] {
        background-color: #f44336;
    }
}

body[data-theme="dark"] {
    .navbar_bg {
        background-color: var(--bg-content) !important;
    }
}
