@import "../../assets/scss/variable.scss";
.card {
    border: 1px solid transparent;
    .title {
        h2 {
            font-size: 1.75rem;
            color: $white;
            line-height: 2.25rem;
            font-weight: 400;
        }
        h4 {
            font-size: 1rem;
            line-height: 1.5rem;
            color: var(--stats-card-text);
            font-weight: 400;
        }
    }
    .icon {
        i {
            font-size: 3.68em;
            color: $white;
        }
    }
    .progress {
        height: 5px;
        border-radius: 1rem;
    }
    p {
        font-size: 80%;
        font-weight: 500;
        color: $white;
    }
}

body[data-theme="dark"] {
    .card {
        border-color: var(--border-color) !important;
        background-color: var(--body-content) !important;
    }
}
