.card {
    h2 {
        font-size: 0.875em;
        font-weight: 600;
        color: var(--hedging-text-color);
        margin: 0;
    }
    p {
        color: var(--hedging-text-color);
    }
    [class="card-header"] {
        background-color: var(--bg-content);
    }
    [class="card-footer"] {
        border: 0;
        padding-top: 0;
    }
}

body[data-theme="dark"] {
    .card {
        border-color: var(--border-color) !important;
        background-color: var(--bg-content) !important;
        [class="card-header"] {
            border-color: var(--border-color) !important;
            background-color: var(--bg-content) !important;
        }
    }
}
