.register-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  justify-content: center;
  align-items: center;
  .logo-container {
    position: relative;
    background-color: #333;
    overflow: hidden;
    .oblique {
      position: absolute;
      background-color: #282828;
      left: 38.5%;
      transform: rotate(150deg);
      width: 27%;
      height: 110%;
    }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
    }
  }
}
