$mailbg: #0072c6;
$facebookbg: #3b5998;
$linkedinbg: #0077b5;
$github: #6e5494;
$twitterbg: #00aced;
$googlebg: #dd4b39;
$dribbblebg: #ea4c89;
$vimeobg: #1ab7ea;
$pinterestbg: #cb2027;
$instagrambg: #bc2a8d;

.social__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  text-decoration: none;
  background-color: #fff;
  overflow: hidden;
  i {
    font-size: 33px;
  }
}
.social__button::after {
  position: absolute;
  content: "";
  top: -1px;
  left: 38px;
  width: 1px;
  height: 1px;
  font-size: 37.5px;
  transition: 0.3s;
  border-radius: 100%;
}
.social__button:hover::after {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s;
  z-index: 2;
}
.social__button:hover {
  i {
    color: #fff !important;
    z-index: 5555;
  }
}
.mail {
  i {
    color: $mailbg;
  }
}
.mail::after {
  background-color: $mailbg;
}
.mail:hover::after {
  background-color: $mailbg;
}
.facebook {
  i {
    color: $facebookbg;
  }
}
.facebook::after {
  background-color: $facebookbg;
}
.facebook:hover::after {
  background-color: $facebookbg;
}
.linkedin {
  i {
    color: $linkedinbg;
  }
}
.linkedin::after {
  background-color: $linkedinbg;
}
.linkedin:hover::after {
  background-color: $linkedinbg;
}
.github {
  i {
    color: $github;
  }
}
.github::after {
  background-color: $github;
}
.github:hover::after {
  background-color: $github;
}
.codepen {
  i {
    color: #212121;
  }
}
.codepen::after {
  background-color: #212121;
}
.codepen:hover::after {
  background-color: #212121;
}

.social__square_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.social_buttons__effect {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s,
      border-top-right-radius 0.1s linear 0.1s,
      border-bottom-right-radius 0.1s linear 0.2s,
      border-bottom-left-radius 0.1s linear 0.3s;
  }
  .facebook {
    background-color: $facebookbg;
  }
  .twitter {
    background-color: $twitterbg;
  }
  .google {
    background-color: $googlebg;
  }
  .dribbble {
    background-color: $dribbblebg;
  }
  .vimeo {
    background-color: $vimeobg;
  }
  .pinterest {
    background-color: $pinterestbg;
  }
  .instagram {
    background-color: $instagrambg;
  }
  .linkedin {
    background-color: $linkedinbg;
  }
}

.aeneas a:hover {
  width: 60px;
  height: 60px;
  transform: rotate(1turn);
  transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s,
    border-top-right-radius 0.1s linear 0.1s,
    border-bottom-right-radius 0.1s linear 0.2s,
    border-bottom-left-radius 0.1s linear 0.3s;
  border-radius: 50%;
  i {
    transform: rotate(-1turn);
  }
}
.aeneas {
  i {
    transition: transform 0.4s linear 0s;
  }
}

.jaques a:hover {
  border-radius: 50%;
  transition: border-top-left-radius 0.1s linear 0s,
    border-top-right-radius 0.1s linear 0.1s,
    border-bottom-right-radius 0.1s linear 0.2s,
    border-bottom-left-radius 0.1s linear 0.3s;
}

.egeon a {
  transition: transform 0.2s linear 0s, border-radius 0.2s linear 0.2s;
}

.egeon {
  a {
    i {
      transition: transform 0.2s linear 0s;
    }
  }
}
.egeon a:hover i {
  position: relative;
  z-index: 3;
  transform: rotate(90deg);
}

.egeon a:hover {
  transform: rotate(-90deg);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.claudio a {
  transition: transform 0.2s linear 0s, border-radius 0.2s linear 0s;
}
.claudio a:hover {
  transform: scale(1.2);
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}

.laertes a {
  transition: all 0.2s linear 0s;
}
.laertes a:hover {
  border-radius: 50%/20%;
  i {
    transform: scale(1.1);
    text-shadow: 0 0 12px hsl(0deg 0% 87% / 60%);
  }
}

.jinae a {
  transition: transform 0.2s linear 0s, border-radius 0.2s linear 0s;
}
.jinae a:hover {
  transform: scale(1.2);
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
}
