.admin-message {
  position: absolute;
  font-size: 14px;
  padding: 8px 0;
  z-index: 999;
  background-color: #fff;
}

.navbar-container {
  .notification-count {
    position: absolute;
    content: "";
    top: -10px;
    left: 9px;
    height: 15px;
    width: 15px;
    line-height: 12px;
    text-align: center;
    border-radius: 50%;
  }
  .message-count {
    position: absolute;
    content: "";
    top: -10px;
    left: 9px;
    height: 15px;
    width: 15px;
    line-height: 12px;
    text-align: center;
    border-radius: 50%;
  }
  .admin-notification {
    position: absolute;
    top: 55px;
  }
  .admin-mail {
    position: absolute;
    top: 55px;
  }
}
/* responsive  */
@media (max-width: 425px) {
  .navbar-container {
    .admin-notification {
      right: -146px;
    }
    .admin-mail {
      right: -169px;
    }
  }
}
