.select {
  .css-1pahdxg-control {
    border-color: hsl(0, 0%, 70%);
    box-shadow: 0px 0px 0px 0px hsl(0, 0%, 70%);
    .css-g1d714-ValueContainer {
      .css-1rhbuit-multiValue {
        .css-xb97g8:hover {
          background-color: #e6e6e6;
          color: #000;
        }
      }
    }
  }
  .css-1pahdxg-control:hover {
    border-color: hsl(0, 0%, 70%);
  }
}
