.dashboard-wrapper {
  .left-panel {
    .isopen {
      width: 280px;
      height: 100%;
      background-color: #292b35;
      transition: 0.1s;
    }
    .isactive {
      width: 70px;
      height: 100%;
      background-color: #292b35;
      transition: 0.1s;
    }
  }
}

/* responsive  */
@media (max-width: 1024px) {
  .isactive {
    width: 230px !important;
  }
  .isopen {
    width: 60px !important;
  }
}
/* Tab responsive  */
@media (max-width: 768px) {
  .isopen {
    width: 0px !important;
  }
}
