@import "../../variable.scss";
.horizontal_nav {
    .mini_logo {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .horizontal_nav {
        .mini_logo {
            display: block !important;
        }
        .logo {
            display: none;
        }
    }
}
