@import "../../variable.scss";

.navbar {
    .container_fluid {
        height: 80px;
        border-bottom: 1px solid var(--border-color);
        padding: 0px 30px;
        .navbar_collapse {
            position: relative;
            .navbar_nav {
                .header_left {
                    display: flex;
                    .sidebar_menu {
                        display: none;
                    }
                    .active {
                        display: block;
                    }
                    li {
                        padding: 0 18px;
                        button {
                            position: relative;
                            border: none;
                            background-color: transparent;
                            color: var(--hedging-text-color) !important;
                            i {
                                font-size: 16px;
                            }
                            .count {
                                display: block;
                                width: 15px;
                                height: 15px;
                                font-size: 11px;
                                color: $white;
                                line-height: 15px;
                                border-radius: 50%;
                            }
                            .sidebar_menu_icon {
                                &::before {
                                    position: absolute;
                                    content: "\f0a4";
                                    font-family: Fontawesome;
                                    top: -23px;
                                    right: -15px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 35px;
                                    height: 35px;
                                    border-radius: 50%;
                                    z-index: 999;
                                    color: #fff;
                                    background-color: #dc3545;
                                }
                            }
                        }
                        .sidebar_menu_toggle {
                            display: none;
                        }
                        .for_notification {
                            .count {
                                position: absolute;
                                top: -4px;
                                right: -14px;
                            }
                        }
                        .for_message {
                            .count {
                                position: absolute;
                                top: -4px;
                                right: -18px;
                            }
                        }
                    }
                }
                .user_area {
                    position: relative;
                    .user_dropdown {
                        img {
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                        }
                    }
                }
                &.navbar_nav_right {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }
            }
        }
    }
    &.fixed_top {
        position: fixed;
        top: 0;
        width: -webkit-fill-available;
        z-index: 999;
    }
}

// @media only screen and (max-width: 768px) {
//     .top_navbar {
//         .navbar {
//             .container_fluid {
//                 .navbar_collapse {
//                     .navbar_nav {
//                         .header_left {
//                             .sidebar_menu {
//                                 display: block;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
