.counter-wrapper {
  position: relative;
  .counter-bg {
    transition: 0.5s;
    div {
      z-index: 444;
      .counter {
        transition: 0.9s;
        color: #fff;
      }
    }
    &:hover {
      transition: 0.5s;
      background-color: #fff !important;
      div {
        .counter {
          color: #3a3b41 !important;
        }
        .counter-icon {
          i {
            color: #3a3b41 !important;
          }
          .recharts-wrapper {
            .recharts-surface {
              .recharts-layer {
                g {
                  path {
                    fill: #3a3b41;
                  }
                }
              }
              g.recharts-layer.recharts-line {
                path {
                  stroke: #3a3b41;
                }
                g.recharts-layer.recharts-line-dots {
                  circle {
                    stroke: #3a3b41;
                    fill: #3a3b41;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
