.cart-data-count {
  .bounce-rate {
    svg {
      polygon {
        fill: #cfe8fd !important;
      }
      polyline {
        stroke: #41a4f6;
      }
    }
  }
  .pageviews {
    svg {
      polygon {
        fill: #ffe9c8 !important;
      }
      polyline {
        stroke: #ffb345;
      }
    }
  }
  .new-users {
    svg {
      polygon {
        fill: #d6daef !important;
      }
      polyline {
        stroke: #818dce;
      }
    }
  }
}
