.notification-menu {
  width: 100%;
}
.message-bg-1 {
  background-color: #42a5f5;
}
.message-bg-2 {
  background-color: #5c6bc0;
}
.message-bg-3 {
  background-color: #ef5350;
}
.message-bg-4 {
  background-color: #4dbd74;
}
