.toggle-menu {
  position: relative;
  color: #8b939b;
  background-color: #292b35;
}
.toggle-menu::after {
  position: absolute;
  content: "\F105";
  font-family: Fontawesome;
  font-size: 16px;
  top: 0;
  right: 0;
  text-align: right;
}
.show-icon::after {
  content: "\F107";
}
.toggle-menu:hover {
  color: #fff;
}
.toggle-active-menu {
  font-size: 20px;
  color: #8b939b;
  background-color: #292b35;
}
.toggle-active-menu:hover {
  color: #fff;
}
.toggle-menu-title {
  font-size: 14px;
}
.open {
  display: none !important;
}
.toggl-active {
  display: block;
  padding: 0 0 0 35px;
  color: #fff;
  list-style: none;
}
.show-mwnu {
  position: absolute;
  width: 170px;
  top: 11px;
  right: -186px;
  align-items: center;
  background: #292b35;
  padding: 10px 0 10px 0px;
  z-index: 999;
}
@media (max-width: 991px) {
  .toggle-menu::after {
    display: none;
  }
  .active {
    position: absolute;
    width: 170px;
    top: 11px;
    right: -170px;
    align-items: center;
    background: #292b35;
    padding: 10px 0 10px 0px;
  }
}
