.toggle-menu {
  .menu-item {
    font-size: 14px;
    color: #8b939b;
    div {
      .menu-icon {
        width: 55px;
      }
    }
    &:hover {
      color: #fff;
    }
  }
  .show-none {
    display: none;
  }
  .show-active {
    display: block;
  }
}
.badge-primary {
  background-color: #28a745;
}
.badge-danger {
  background-color: #dc3545;
}
.badge-warning {
  color: #111;
  background-color: #ffc107;
}
.badge-info {
  background-color: #17a2b8;
}
